xset r rate 180 50

xset s on
xset s 3600 3600
xset dpms 3600 5400 7200


setxkbmap us

#keybind
xmodmap $HOME/.xmodmap

#locker
#light-locker --lock-on-suspend &


# IME
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"
export INPUT_METHOD=fcitx
fcitx5 -d &
